/*external css */

/*list elements*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444444;
}
h1,
h2,
h3 {
  color: #0cbcae;
}
/*hexadecimal is more used*/

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/*all the p elements inside the footer element*/
/* footer p {
  font-size: 16px;
} */

/*all the p elements inside header inside article
article header p {
  font-style: italic;
}
*/
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */
.related-posts {
  list-style: none;
}

.main-header {
  background-color: #e4e4e4;
}

aside {
  background-color: #e4e4e4;
  border-top: 5px solid #08a99c;
  border-bottom: 5px solid #08a99c;
}
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}
li:nth-child(odd) {
  color: #da1818;
}

article p:last-child {
  color: #1545b3;
}
